body, #main-page{
     background-color: #f3e6d8;
}


.navbar.scrolled{
    background:#b3a99f ;
    transition:background 500ms;
  }
.navbar-brand{
    color: #5f574e;
    font-family: 'Young Serif', serif;
    font-size:2rem;
}

.navbar-brand:hover{
    color: hsl(332, 51%, 32%);
}
h5{
    color:#937b62;
}
#text-overlay{
    background: url('./coffee.jpg') ,  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: 100% no-repeat;
    height:100vh;
   color: hsl(30, 10%, 34%);
}

#text-overlay{
    color: #8f877f;
    font-size: 3rem;
    font-family: 'Outfit', sans-serif;
    display:flex;
    justify-content: center;
   
}
#line{
    margin:7rem; 
     
}
#word{
    font-size:2rem;
    font-family:'Young Serif', serif;
    margin-top:2rem;
    color:#937b62;
 
}
#word::after{
    content:" ";
     position: absolute;
     margin-top:2rem;
     margin-left:1rem;
    height:2px;
    width:80vw;
    background-color:#5f574e;
    transform: translateY(-50%);
   
}

.recipe-cards{
    background-color: #d6ccc2;
    padding-left:3rem;
   padding:2rem;
    margin:2.5rem;
   width:55rem;
    height:15rem;
    border:none;
    border-radius:15px;
    box-shadow:10px 5px 5px #7f6a53;
}
button{
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    border:none;
    background-color: #937b62;
    color:hsl(30, 54%, 90%);
    border-radius:6px;
    padding: 5px 10px 5px 10px;

}
button:hover{
    background-color: #7b284f;
   transform:scale(1.1);
   cursor: pointer;
}
a{
    text-decoration: none;
    color:hsl(30, 54%, 90%);
}
h2{
    font-family:'Young Serif', serif ;
    color:#7f6a53;
    font-size: 1.8rem;
}
.details{
     color: #302d2a;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
}

span{
    display:flex;
    justify-content: flex-start;
}
.nav-link{
     margin-left: 2rem;
     margin-top:-1.3rem;
     font-size:1.2rem;
     font-family:'Outfit', sans-serif; 
     font-weight: 700;
     color: #5f574e;
}
li.nav-item.dropdown::marker{
    color:transparent;
}

.dropdown-menu{
    background-color: #d6ccc2;
    
}
.dropdown-item:hover{
    background-color: #d6ccc2;
    color: #7b284f;
}


a#contact, #copyright{
    color:#7b284f;
    font-family: 'Young' ,Serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin:1.2rem;
}
.container.typewriter-effect {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: max-content;
}


#club{
    font-family:'Young Serif', serif ;
    color:#7f6a53;
    font-size: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
   
    animation: typing 2s steps(30) forwards;
}

@keyframes typing {
    from { width : 0}
     to {
        width: 100%; 
    }
}
#image2{
    height:25rem;
    border-radius: 20px;
    padding:0.5rem;
}
#content-one{
    padding:2rem;
}
#content-two{
    padding: 0.2rem 2rem;
    font-family:  'Outfit', sans-serif;
    font-size: 1rem;
}
#last-button{
    margin-left: 1.7rem;
}
.container-last{
    display:grid;
    grid-template-columns: 25rem 30rem;
    height: min-content;
    width: min-content;
    border:2px solid #7b284f;
    margin:auto;
    gap:3px;
    border-radius:15px;
}


@media (max-width:900px){
    .recipe-cards{
        height:18rem;
    }
    .container-last{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #content-one{
        padding:0.5rem 2rem;
    }
    #word::after{
    width:50vw;
}
    

}

@media (max-width:730px){
    span{
        flex-direction:column;
    }
    .recipe-cards{
        margin:3rem;
        width:23rem;
        height:15rem;
    }
    
}


